*::selection {
  color: #ffffff;
  background-color: #4a4747;
}
body {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #2f2f2f;
  background-color: #e8e8e8;
  margin: 2rem auto;
  box-sizing: border-box;
  width: 480px;
  padding-left: 1rem;
  padding-right: 1rem;
}
h1 {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0rem;
}
p {
  text-align: center;
  margin: 1rem 0rem;
}
div#bitrateinfo_container {
  width: 100%;
}
div#helpers {
  font-size: 0.8em;
  text-align: center;
  margin: 1rem 0rem;
}
div#helpers a:not(:last-child) {
  margin-right: 2rem;
}
form {
  display: block;
  margin: 0em;
  padding: 0em;
  border: none;
}
input:placeholder {
  color: #909993;
}
input#bitrateinfo_input {
  box-sizing: border-box;
  display: block;
  float: left;
  width: calc(100% - 32px);
  height: 32px;
  margin: 0em;
  padding: 4px 8px;
  text-align: left;
  font: inherit;
  font-size: inherit;
  color: #2f2f2f;
  background-color: #ffffff;
  border: 1px solid #951414;
  border-right: none;
  border-radius: 0em;
}
input#bitrateinfo_input:focus {
  outline: none;
  border-color: #050404;
}
button#bitrateinfo_submit {
  box-sizing: border-box;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0em;
  padding: 0px;
  cursor: pointer;
  text-align: center;
  font: inherit;
  font-size: inherit;
  color: #ffffff;
  border: 1px solid #951414;
  border-radius: 0em;
  background: #951414 url(../favicon.svg) no-repeat center;
  overflow: hidden;
  color: transparent;
}
button#bitrateinfo_submit:focus,
button#bitrateinfo_submit:active {
  outline: none;
  border-color: #050404;
}
table#legend {
  width: 100%;
  margin: 2rem 0rem;
  border: none;
  border-collapse: collapse;
  background-color: transparent;
  font-size: 0.8em;
}
table#legend thead {
  font-weight: bold;
}
table#legend td {
  border: 1px solid #c6ccc8;
  background-color: #ffffff;
  padding: 4px 8px;
}
td.canonical:first-letter {
  text-transform: uppercase;
}
table#bitrateinfo_result {
  width: 100%;
  min-height: 1rem;
  margin: 1rem 0rem;
  border-collapse: collapse;
  color: #ffffff;
  text-align: center;
  background-color: transparent;
}
table#bitrateinfo_result > thead {
  display: none;
}
table#bitrateinfo_result td {
  display: block;
  margin: 1rem 0rem;
  padding: 4px 8px;
  border-radius: 1em;
  background-color: #707272;
}
a:link,
a:visited {
  color: #4a4747;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  outline: none;
  color: #1e57ba;
  text-decoration: underline;
}
.hidden {
  display: none;
}
