:root {
  color-scheme: light dark;
  --bitrate-background: #ffffff;
  --bitrate-foreground: #000000;
  --bitrate-link: #0000ff;
  --bitrate-error: #ff0000;
  --bitrate-highlight: #00ffff;
}
*::selection {
  background-color: var(--bitrate-highlight);
}
html {
  font-size: 20px;
}
body {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--bitrate-foreground);
  background-color: var(--bitrate-background);
  margin: 1rem auto 0rem auto;
  box-sizing: border-box;
  max-width: 640px;
  padding-left: 1rem;
  padding-right: 1rem;
}
h1 {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0rem;
}
p {
  text-align: center;
  margin: 1rem 0rem;
}
div#bitrateinfo_container {
  width: 100%;
}
div#helpers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 0.8em;
  margin: 0rem;
}
div#helpers a {
  display: inline-block;
  margin: 0rem 1rem 1rem 1rem;
}
form#bitrateinfo_form {
  display: block;
  position: relative;
  margin: 0rem 0rem 1rem 0rem;
  padding: 0rem;
  border: none;
}
input#bitrateinfo_input {
  box-sizing: border-box;
  display: block;
  width: calc(100% - 2lh - 2px);
  margin: 0rem;
  padding: 0.3rem 0.7rem;
  text-align: left;
  font: inherit;
  color: var(--bitrate-background);
  background-color: var(--bitrate-foreground);
  border: 2px solid var(--bitrate-foreground);
  border-radius: 0rem;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}
input#bitrateinfo_input::placeholder {
  color: var(--bitrate-background);
  opacity: 1;
}
input#bitrateinfo_input:focus {
  outline: none;
  color: var(--bitrate-foreground);
  background-color: var(--bitrate-background);
}
input#bitrateinfo_input:focus::placeholder {
  color: var(--bitrate-foreground);
  opacity: 1;
}
button#bitrateinfo_submit {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 2lh;
  height: calc(1lh + 0.6rem + 4px);
  margin: 0em;
  padding: 0px;
  cursor: pointer;
  text-align: center;
  font: inherit;
  font-size: inherit;
  color: var(--bitrate-background);
  background-color: var(--bitrate-foreground);
  border: 2px solid var(--bitrate-foreground);
  border-radius: 0rem;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  overflow: hidden;
}
button#bitrateinfo_submit:hover,
button#bitrateinfo_submit:focus,
button#bitrateinfo_submit:active {
  outline: none;
  border-color: var(--bitrate-link);
  background-color: var(--bitrate-link);
}
button#bitrateinfo_submit:focus-visible {
  color: var(--bitrate-link);
  background-color: var(--bitrate-background);
}
table#legend {
  width: 100%;
  margin: 0rem 0rem 1rem 0rem;
  border: none;
  border-collapse: collapse;
  background-color: transparent;
  font-size: 0.8em;
}
table#legend thead {
  font-weight: bold;
}
table#legend td {
  border: 1px solid var(--bitrate-foreground);
  background-color: var(--bitrate-background);
  padding: 0.3rem 0.7rem;
}
td.canonical:first-letter {
  text-transform: uppercase;
}
table#bitrateinfo_result {
  width: 100%;
  min-height: 1rem;
  margin: 0rem;
  border-collapse: collapse;
  text-align: center;
  background-color: transparent;
}
table#bitrateinfo_result > thead {
  display: none;
}
table#bitrateinfo_result td {
  display: block;
  box-sizing: border-box;
  margin: 0rem 0rem 1rem 0rem;
  padding: 0.3rem 0.7rem;
  border: 2px solid var(--bitrate-foreground);
  border-radius: 0.2rem;
  color: var(--bitrate-background);
  background-color: var(--bitrate-foreground);
}
a:link,
a:visited {
  color: var(--bitrate-foreground);
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  outline: none;
  color: var(--bitrate-link);
  text-decoration: underline;
}
.hidden {
  display: none;
}
.show {
  animation: boing 1s normal ease;
}
.error {
  animation: shake 1s normal ease;
}
.error input#bitrateinfo_input,
.error button#bitrateinfo_submit {
  color: var(--bitrate-background);
  background-color: var(--bitrate-error);
  border-color: var(--bitrate-error);
}
@keyframes boing {
  0% {
      transform: scale(1.00);
  }
  10% {
      transform: scale(1.04);
  }
  20% {
      transform: scale(0.98);
  }
  30% {
      transform: scale(1.02);
  }
  40% {
      transform: scale(0.99);
  }
  50% {
      transform: scale(1.00);
  }
}
@keyframes shake {
  0% {
      transform: translateX(+0.0rem);
  }
  9% {
      transform: translateX(+0.8rem);
  }
  18% {
      transform: translateX(-0.9rem);
  }
  27% {
      transform: translateX(+1.0rem);
  }
  36% {
      transform: translateX(-1.0rem);
  }
  45% {
      transform: translateX(+0.8rem);
  }
  54% {
      transform: translateX(-0.6rem);
  }
  63% {
      transform: translateX(+0.4rem);
  }
  72% {
      transform: translateX(-0.3rem);
  }
  81% {
      transform: translateX(+0.2rem);
  }
  90% {
      transform: translateX(-0.1rem);
  }
  100% {
      transform: translateX(+0.0rem);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bitrate-background: #000000;
    --bitrate-foreground: #ffffff;
    --bitrate-link: #00ffff;
    --bitrate-highlight: #0000ff;
  }
}
@media (prefers-reduced-motion) {
  .show,
  .error {
      animation: none;
  }
}
